# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: run tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 1

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools Cython flake8
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

  mypy-checks:
    strategy:
      matrix:
        pyver: ['3.9', '3.10', '3.11', '3.12', '>=3.13.5', '3.14']
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyver }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy
          pip install -r requirements-test.txt

      - name: Run mypy
        run: |
          mypy picows  # Replace with your library directory

  build:
    strategy:
      matrix:
        pyver: ['3.9', '3.10', '3.11', '3.12', '>=3.13.5', '3.14', '3.14t']
        os: [ubuntu, macos, windows]
      fail-fast: false

    runs-on: ${{ matrix.os }}-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.pyver }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyver }}

    - name: Show Python build OPT flags (they are automatically added when building extensions)
      run: python -c "import sysconfig; print(sysconfig.get_config_var('OPT'))"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-test.txt

    - name: Compile Cython extensions
      run: |
        python setup.py build_ext --inplace

    - name: Run tests
      run: |
        pytest -v
